
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
canvas {
    position: absolute;
    margin: 0;
}
h1 {
    margin-top: 0;
    padding-top: 0;
    font-size: 18px;
}
.info-box{
    z-index: 100;
    position: absolute;
    background: rgba(255,255, 255, 0.9);
    padding: 10px;
    top: 10px;
    left: 10px;
    border-radius: 3px;
}